.button {
	max-width: 200px;
	width: 100%;
	margin: 0 auto;
	padding: 15px 50px;
	text-align: center;
	text-decoration: none;
	font-weight: 700;
	font-size: 18px;
	line-height: 60px;
	color: var(--c-cornflower-blue);
	border: 1.4px solid var(--c-cornflower-blue);
	box-sizing: border-box;
	border-radius: 55px;
}

.button:hover,
.buttonActive {
	color: var(--c-white);
	background: var(--c-cornflower-blue);
}

.trafalgar__button {
	text-align: center;
	padding-top: 70px
}

.virtual__button {
	text-align: left;
	padding-top: 0px;
}
