@import './font.css';
@import './color.css';
@import './normalize.css';
@import './virtual.css';
@import './header.css';
@import './services.css';
@import './leading.css';
@import './download.css';
@import './button.css';
@import './checkout.css';
@import './slider.css';
@import './footer.css';

* {
	padding: 0;
	margin: 0;
}

.trafalgar {
	max-width: 1600px;
	margin: 0 auto;
	font-family: 'Mulish', sans-serif;
}

.trafalgarHr {
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 56px;
	height: 2px;
	background: var(--c-black);
	margin: 26px auto 33px;
	border-radius: 5px;
}