@import './font.css';
@import './virtual.css';
@import './services.css';
@import './leading.css';
@import './download.css';
@import './button.css';
@import './checkout.css';
@import './slider.css';
@import './footer.css';

* {
	padding: 0;
	margin: 0;
}

.trafalgar {
	max-width: 1600px;
	margin: 0 auto;
	font-family: 'Mulish', sans-serif;
}

.header {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 56px 190px;
}

.header:before {
	content: url(../img/el-header.png);
	position: absolute;
	z-index: -1;
	top: 160px;
	left: 0px;
}

.header__nav {
	display: flex;
	justify-content: space-between;
}

.header__navLink {
	margin-left: 40px;
	font-weight: 400;
	font-size: 18px;
	line-height: 23px;
	color: #1F1534;
	opacity: 0.5;
	text-decoration: none;
}

.header__navLinkActive {
	opacity: 1;
	font-weight: 700;
}

.header__navLink:hover {
	opacity: 1;
	font-weight: 400;
	cursor: pointer;
}


@media only screen and (max-width: 960px) {
	.header {
		flex-direction: column;
		align-items: center;
		padding: 56px 40px;
	}
	.header__nav{
	display: flex;
	justify-content: space-between;
		flex-wrap: wrap;
		max-width: 300px;
	}
	.header__logo {
		padding-bottom: 40px;
	}
}

.trafalgarHr {
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 56px;
	height: 2px;
	background: #000000;
	margin: 26px auto 33px;
	border-radius: 5px;
}
